header {
    background-color: #f08dd9;
    opacity: .8;
    margin: auto;
    padding: 30px;
    width: 20%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    color: mediumspringgreen;
}

h2 {
    background-color: #f08dd9;
    opacity: .9;
    width: 30%;
    margin-top: 50px;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 15px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

body {
    background-color: #201ced;
}

.linksToPages {
    display: flex;
}

p {
    background-color: #f08dd9;
    opacity: .9;
    width: 60%;
    margin: auto;
    margin-top: 50px;
    margin-top: 20px;
    padding: 15px;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

a:visited {
    color: orange;
    background-color: transparent;
    text-decoration: underline;
}
